<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanici Paneli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectVet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="layoutNav navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
            <a asp-controller="kullanici" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h1 class="m-0 text-primary"><i class="far fa-user me-3"></i>Kullanici Paneli</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a asp-controller="Kullanici" asp-action="AboutUs" class="nav-item nav-link">Hakkımızda</a>
                    <a asp-controller="Kullanici" asp-action="Pet" class="nav-item nav-link">Pet Ekle</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index" asp-area="">Çıkış Yap</a>

                </div>
                <a asp-controller="Kullanici" asp-action="Appointment" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Randevu Al<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Giriş yap popup -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Hatalı Deneme!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Lütfen randevu almak için giriş yapın.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#appointmentButton").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("CheckLoginStatus", "Home")',
                    type: 'GET',
                    success: function (response) {
                        if (!response.isAuthenticated) {
                            $("#loginModal").modal('show');
                        } else {
                            window.location.href = '@Url.Action("Appointment", "Home")';
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
