@model ProjectVet.Dtos.EkleGuncelleKullaniciDto

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klinik - Clinic Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/css/styleLogin2.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" id="home">
        <div class="login-left">
            <div class="login-header">
                <h1>Hoşgeldiniz</h1>
                <p>Devam etmek için lütfen kaydolun.</p>
            </div>
            <form asp-action="SignIn2" asp-controller="Kullanici" method="post" class="login-form" autocomplete="off">
                <div class="login-content">
                    <div class="form-item">
                        <label asp-for="Ad"></label>
                        <input asp-for="Ad" class="form-control" placeholder="Adınız" />
                        <span asp-validation-for="Ad" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="Soyad"></label>
                        <input asp-for="Soyad" class="form-control" placeholder="Soyadınız" />
                        <span asp-validation-for="Soyad" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="TelefonNo"></label>
                        <input asp-for="TelefonNo" class="form-control" placeholder="Telefon numaranızı girin" />
                        <span asp-validation-for="TelefonNo" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="Mail"></label>
                        <input asp-for="Mail" class="form-control" placeholder="example@email.com" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="Parola"></label>
                        <input asp-for="Parola" type="password" class="form-control pass-key" placeholder="Parolayı giriniz" />
                        <span asp-validation-for="Parola" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="ParolaTekrar"></label>
                        <input asp-for="ParolaTekrar" type="password" class="form-control pass-key" placeholder="Parolayı tekrar giriniz" />
                        <span asp-validation-for="ParolaTekrar" class="text-danger"></span>
                    </div>

                    <button type="submit">KAYIT OL</button>
                </div>
            </form>
        </div>
        <div class="login-right">
            <img src="~/img/vetKayıtOlj.png" alt="">
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');

            form.addEventListener('submit', function (event) {
                const parolaField = document.querySelector('#Parola');
                const ParolaTekrarField = document.querySelector('#ParolaTekrar');

                const parolaValue = parolaField.value.trim();
                const ParolaTekrarValue = ParolaTekrarField.value.trim();

                if (parolaValue !== ParolaTekrarValue) {
                    event.preventDefault(); // Formun gönderilmesini engelle
                    alert('Şifreler eşleşmiyor. Lütfen aynı şifreyi tekrar girin.'); // Kullanıcıya uyarı göster
                }

            });
        });
    </script>



    <script src="js/login.js"></script>
</body>

</html>
